<nav>
  <ul>
    <li class="nav-link"><a href="/index.html" {% if page.url == "/" %}style="color: #1B79DC;"{% endif %}>HOME</a></li>
    <li class="nav-link"><a href="/about.html" {% if page.url == "/about.html" %}style="color: #1B79DC;"{% endif %}>MILADA</a></li>
    <li class="nav-link"><a href="/news.html" {% if page.url == "/news.html" %}style="color: #1B79DC;"{% endif %}>NEWS</a></li>
    <li class="nav-link"><a href="/play.html" {% if page.url == "/play.html" %}style="color: #1B79DC;"{% endif %}>PLAY</a></li>
  </ul>
</nav>
